{% extends "main/base_dashboard.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
    var socket = io();
    socket.on('connect', function() {
        socket.emit('my event', {data: 'I\'m connected!'});
        console.log("text")
    });
</script>
<h1 style="color: #fff; text-align: center; text-transform: uppercase; letter-spacing: 2px;">DASHBOARD</h1>
<div class="dashboard-grid">
    <a href="{{ url_for('task.tasks_page') }}" class="dashboard-card">
        <h2>View All Tasks</h2>
        <p>See all your current tasks</p>
    </a>
    <a href="{{ url_for('task.create_task_page') }}" class="dashboard-card">
        <h2>Create New Task</h2>
        <p>Add a new task to your grind</p>
    </a>
    <a href="{{ url_for('task.task_by_id_page') }}" class="dashboard-card">
        <h2>Find Task by ID</h2>
        <p>Search for specific task</p>
    </a>
</div>
{% endblock %}